<!-- Código heredado de la plantilla layout.html  -->
{% extends "layout.html" %} {% block head %}
<title>Analizar ondas con transformada de Fourier</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='images/OIG3.png') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %} {% block body %}
<h1 class="text-center">
  Análisis de onda mediante la Transformada Rápida de Fourier
</h1>
<div class="container">
  <div class="row">
    <!-- Código de Jinja 2, muestra el Index sin la gráfica por defecto, también en caso de reiniciar o de error. -->
    {% if estado == True or error %}
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
      <p class="text-center">
        El análisis de onda por transformada rápida de Fourier (FFT) es un
        algoritmo que calcula la transformada discreta de Fourier (DFT) de una
        secuencia, o su inversa (IDFT). El análisis de Fourier convierte una
        señal de su dominio original (a menudo tiempo o espacio) a una
        representación en el dominio de la frecuencia y viceversa
      </p>
    </div>
    {% endif %}

    <!-- Si se realiza el cálculo de la FFT muestra la gráfica -->
    {% if pairs %}
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
      <p class="text-center">
        El análisis de onda por transformada rápida de Fourier (FFT) es un
        algoritmo que calcula la transformada discreta de Fourier (DFT) de una
        secuencia, o su inversa (IDFT). El análisis de Fourier convierte una
        señal de su dominio original (a menudo tiempo o espacio) a una
        representación en el dominio de la frecuencia y viceversa
      </p>
      <canvas id="myChart" width="400" height="200"></canvas>
    </div>

    {% endif %}
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="mb-3">
        <form class="form-control" method="POST" action="/">
          <div class="col-xl-12">
            <label for="lenguaje" class="form-label">Seleccione el lenguaje</label>
            <select class="form-select" name="lenguaje" id="lenguaje">
              <option value="python">Python</option>
              <option value="c">C</option>
            </select>
          </div>
          <label for="numbers" class="form-label">Ingrese los números a operar</label>
          <input class="form-control" id="numbers" type="text" name="numbers"
            placeholder="Ingrese números separados por comas" />
          <input class="my-2 btn btn-primary" type="submit" value="Enviar" />
          <button class="my-2 btn btn-secondary" type="button" id="reiniciar-btn">Reiniciar</button>
        </form>

        <!-- En caso de error muestra la alerta -->
        {% if error %}
        <div class="alert alert-danger mt-2">
          {{ error }}
        </div>
        {% endif %}

        <!-- En caso de realizarse el cálculo de la FFT muestra los resultados y un mensaje de éxito -->
        {% if pairs %}

        <div class="alert alert-success mt-2">
          Entrada: {{ numbers }}
        </div>

        <div class="container border">
          <h5 class="text-center">Tabla de resultados</h5>
          <table class="table table-bordered">
            <tr>
              <th class="table-primary">Parte real</th>
              <th class="table-warning">Parte imaginaria</th>
            </tr>
            {% for real, imaginary in pairs %}
            <tr">
              <td class="hover_azul">{{ real }}</td>
              <td class="hover_amarillo">{{ imaginary }}</td>
              </tr>
              {% endfor %}
          </table>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}