{% extends "layout.html" %} {% block head %}
<title>Índice de la página</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %} {% block body %}
<h1 class="text-center">
  Análisis de onda mediante la Transformada Rápida de Fourier
</h1>
<!--<button type="button" class="btn btn-primary">Prueba</button>-->

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <p class="text-center">
        El análisis de onda por transformada rápida de Fourier (FFT) es un
        algoritmo que calcula la transformada discreta de Fourier (DFT) de una
        secuencia, o su inversa (IDFT). El análisis de Fourier convierte una
        señal de su dominio original (a menudo tiempo o espacio) a una
        representación en el dominio de la frecuencia y viceversa
      </p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <canvas id="myChart" width="400" height="200"></canvas>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <div class="mb-3">
        <form method="POST" action="/">
          <h4>Seleccione el lenguaje</h4>
          <select name="lenguaje">
            <option value="python">Python</option>
            <option value="c">C</option>
          </select>
          <h4>Ingrese los números a operar</h4>
          <input
            type="text"
            name="numbers"
            placeholder="Ingrese números separados por comas"
          />
          <input type="submit" value="Enviar" />
        </form>

        <h3>Resultados de la FFT</h3>

        <h5>Entrada:</h5>
        <p>{{ numbers }}</p>

        <h5>Resultados:</h5>
        <table class="table table-striped-columns">
          <tr>
            <th>Parte real</th>
            <th>Parte imaginaria</th>
          </tr>
          {% for real, imaginary in pairs %}
          <tr>
            <td>{{ real }}</td>
            <td>{{ imaginary }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
