{% extends "layout.html" %} {% block head %}
<title>Índice de la página</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />
{% endblock %} {% block body %}
<h1 class="text-center">
  Análisis de onda mediante la Transformada Rápida de Fourier
</h1>
<!--<button type="button" class="btn btn-primary">Prueba</button>-->

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <p class="text-center">
        El análisis de onda por transformada rápida de Fourier (FFT) es un
        algoritmo que calcula la transformada discreta de Fourier (DFT) de una
        secuencia, o su inversa (IDFT). El análisis de Fourier convierte una
        señal de su dominio original (a menudo tiempo o espacio) a una
        representación en el dominio de la frecuencia y viceversa
      </p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <img
        class="img-fluid"
        id="sin"
        src="{{url_for('static', filename='images/ejemplo_onda.png')}}"
        alt="Léelo"
      />
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <h5 class="text-center">Ingrese los números a trabajar en la FFT</h5>
      <div class="mb-3">
        <label for="numeros" class="form-label"
          >Números separados por comas</label
        >
        <input
          type="text"
          class="form-control"
          id="numeros"
          placeholder="Ej: 1,2,3,4,5,6,7,8"
          autocomplete="off"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Example textarea</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
    </div>
  </div>
</div>
{% endblock %}
